@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color:#703F0E;
}

.App {
    text-align: left;
}

section {
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

img {
    max-width: 100%;
}

.menu_dishes {
    display: flex;
    gap: 20px;
    font-size: 30px;
    list-style: none;
    font-family: "Open Sans", sans-serif;

}

.section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#0E5F70;
    
}

.welcome_section {
    background-color: #5F6B4A

;
}

.menu_li {
    padding: 20px;
      font-family: "Oswald", sans-serif;
      margin-right: 40px;
    /* margin: 1px; */
    /* padding: auto;
    width: 100000px; */
}

.menu_li:hover {
    background-color: #d69158;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}



.logo_header {
    width:  350px;
    height: 200px;
}

.photo_restorant {
    width: 100%;
}

.pizza_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.products_list {
    display: flex;
}

.product_img {
    width: 50%;
}

.main_title {
 font-family: "BBH Bartle", sans-serif;
    font-weight: 200px;
    
}

.welcome_title {
    font-family: "Open Sans", sans-serif;
    color: #a67d97;
}


.welcome_text {
    font-family: "Open Sans", sans-serif;
}

.pizza_card {
    width: 500px;
    border: 1px solid orange;
    padding: 10px;
}

.pizza_btn {
    background-color: rgb(131, 17, 17);
    color: #ccc;
    padding: 10px;
    border-radius: 20px;
    border: none;
    
}

.pizza_btn:hover {
    background-color: #d69158;
    cursor: pointer;
}

.burger_card {
    width: 500px;
    border: 1px solid orange;
    padding: 10px;
}

.burger_btn {
    background-color: rgb(131, 17, 17);
    color: #ccc;
    padding: 10px;
    border-radius: 20px;
    border: none;
    
}

.burger_btn:hover {
    background-color: #d69158;
    cursor: pointer;
}

.burger_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}