#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    text-align: left;
}

section {
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

img {
    max-width: 100%;
}